html,body{
  min-height:100%;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

main{
  flex: 1;
}

.sprite{
  width: 400px;
  height: 400px;
}

footer{
  height: 100%;
}
